/* index */

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(14, 12, 20);
    background-image: linear-gradient(rgb(14, 12, 20), rgb(0, 0, 81));
    color: white;
    height: 961px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Smooch Sans', sans-serif;
}

.header{
    background: rgb(24, 13, 72); 
    display: flex;
    padding: 20px;
    justify-content: space-between;             
}
hr{
    border-top: 3px solid #bbb;  
}
 
.buttons{
    background-color: rgb(24, 13, 72);
    margin-inline:  200px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width:500px;
    height: 150px;
    margin: auto;  
    margin-top: 10px; 
}

.buttons h2 {
    text-align: center; 
    width: 200px;
    border-bottom: solid 2px #FFFF;
}

button {
    background-color: #026742;
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;    
}
    
.buttonl{
    margin: 5px;
    padding: 10px;
    border-color: #04AA6D;
    color: #04AA6D;
    margin-top: 10px
}

.buttonl:hover {
    background-color: #00bb77;
    color: white;
  }